.Hero{
    background-image: url("../images/background.jpg");
    background-color: aqua;
    height: 900px;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    /* padding-left: 30px; */
    text-align: center;
    display: block;
    font-size: 3em;
    margin-top: 30%;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    color: white;
    /* padding-left: 30px; */
    text-align: center;
    display: block;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.profile {
    border-radius: 50%;
    max-height: 600px;
}

#intro-title {
    font-size: 3em;
}